<!DOCTYPE html>
<html lang='en'>
    <head>
        {{>header}}
        <title>Home</title>
    </head>
    <body>
        {{>navbar}}
        <header class='header'>
            <div class='header-left'>
                <h1>The #1 learning solution</h1>
                <p>Ensure your people keep building skills with the world's best learning management system</p>
                <button>Get started</button>
            </div>
            <div class='header-right'>
                <img src='images/home_vector.svg' />
            </div>
        </header>
    </body>
</html>